#button {
  background-color: whitesmoke;
  color: rgb(255, 255, 255);
  width: 34px;
  height: 24px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(201, 201, 201);
  color: red;
}
#button:active {
  background-color: #ecd045;
}
#logo {
    text-align: center;
}
#parrafo {
  font-size: 26px;
}

input:focus {
  width: 20px;
  height: 20px;
}
header {
    background-color: #eac926 ;
    width: 100vw;
  
}
.flexsearch{
    text-align: center;
}
body {
  font-family: "Roboto", sans-serif;
}
footer {
  text-align: center;
}
#pu {
  padding-top: 70px;
  color: blue;
  font-size: 2em;
  margin-bottom: 10px;
}
.productos{
    width:300px;
}
#cuotas{
    text-align: center;
}
